@charset "utf-8";

@import url("reset.css");
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.3.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
body,h1,h2,h3,h4,h5,h6,input,button,textarea,select{color:#010101;line-height:1.5;font:12px "돋움",Dotum,Verdana,Arial,AppleGothic,sans-serif;}
*, *:before, *:after{box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
.hide-text{overflow:hidden;text-indent:100%;white-space:nowrap;}
button{cursor:pointer;}
a{text-decoration:none;color:#010101;font-weight: bold}
a:hover{color:#999}
pre{overflow:auto;font-family:Consolas, 'Liberation Mono', Courier, monospace;}
code{font-family:Consolas, 'Liberation Mono', Courier, monospace;}
strong{font-weight:bold}
em{font-style:italic;}
.mu-ellipsis{overflow:hidden;white-space:nowrap;text-overflow:ellipsis}

/* HTML5 새 요소 초기화 */
article, aside, figure, figure img, figcaption, hgroup, footer, header, nav, section, video, object {display:block;}

/* round 요소 */
.mu-list,.mu-prompt,.mu-confirm,.mu-progress,.mu-popup-menu,.mu-popup-menu > li > ul,.mu-popup-menu > li > ul > li > ul,.mu-area,.mu-search-group,.mu-round,.mu-input,.mu-btn,.mu-selectbox > .mu-value,.mu-selectbox > .mu-list,.mu-pagination > button,.mu-pagination a,.mu-tab-vertical > li > a,.mu-alert,.mu-paging > a,.mu-paging > button,.mu-panel{border-radius:4px}


/* 아래부터 추가되는 엘리먼트는 .mu- 가 붙습니다. */
/*section{padding:10px;}*/
.mu-boxWrap{display:table;width:100%;height:100%;table-layout:fixed;border-spacing:10px;/*border-collapse:collapse;*//*border-collapse:separate;*/}
.mu-boxWrap .mu-boxRow{display:table-row;}
.mu-boxWrap .mu-boxCell{display:table-cell;border:1px solid #c7cddb;vertical-align:top;}
.mu-boxWrap .mu-boxWrap .mu-boxCell{border-spacing:10px;}


/*.row{display:table;width:100%;}*/
.mu-row:before, .mu-row:after{display:table;content:" "}
.mu-row:after{clear:both}
.mu-col{float:left;min-height:1px;position:relative;width:100%}
.mu-col-1{width:8.33333333333%}
.mu-col-2{width:16.6666666667%}
.mu-col-3{width:24.9999888888%}
.mu-col-4{width:33.3333333333%}
.mu-col-5{width:41.66666666666667%}
.mu-col-6{width:49.9999888888%}
.mu-col-7{width:58.3333222222%}
.mu-col-8{width:66.66666666666666%}
.mu-col-9{width:74.9999888888%}
.mu-col-10{width:83.33333333333334%}
.mu-col-11{width:91.66666666666666%}
.mu-col-12{width:99.9999888888%}

.mu-row .mu-col:first-child{border-left:1px solid #c7cddb}
.mu-row:first-child .mu-col{border-top:1px solid #c7cddb}
.mu-row .mu-col{background:#f5f5f5;border-bottom:1px solid #c7cddb;border-right:1px solid #c7cddb;padding:7px;text-align:center}


/*elements style*/
.mu-hgroup{display:inline-block}
.mu-hgroup:after{content:'';display:block;height:0;clear:both;visibility:hidden}
.mu-hgroup > *{display:inline-block;vertical-align:middle}
.mu-hgroup > * + *{margin-left:3px}

.mu-vgroup > *{display:block;vertical-align:middle}
.mu-vgroup > * + *{margin-top:5px}

.mu-search-group{display:inline-block;width:100%;background-color:#fff;box-shadow:0 1px 2px 0 #c3c3c3}
.mu-search-group:after{content:'';display:block;height:0;clear:both;visibility:hidden}
.mu-search-group .mu-search-item{float:left;padding:13px}
.mu-search-group .mu-item-group label{color:#878787}
.mu-search-group .mu-item-group .mu-hgroup > *+*{margin-left:10px}
.mu-search-group .mu-title-bar{padding-right:5px;margin-right:5px;border-right:1px solid #f0f0f0}
.mu-search-group .mu-search-btn{float:right;height:100%;padding:13px 10px;border-left:1px solid #f3f3f3;vertical-align:middle}
.mu-search-group .mu-search-btn .mu-btn{min-width:120px;font-weight:bold;background-color:#75a3e4}

.mu-search-item > *{display:inline-block;vertical-align:middle}
.mu-search-item > * + *{margin-left:10px}

.mu-more-item{display:table;width:100%}
.mu-more-item .mu-search-item,.mu-more-item .mu-search-btn{display:table-cell;float:none}
.mu-more-item .mu-search-item{width:100%;text-align:left}
.mu-more-item .mu-search-btn{height:100%}
.mu-search-item > table{display:table;width:100%}
.mu-search-item > table > tbody > tr > td{text-align:left}
.mu-search-item > table > tbody > tr > td,.mu-search-item > table > tbody > tr > th{padding:5px 5px 5px 0;border:0;vertical-align:middle}
.mu-search-item > table > tbody > tr > td + th{padding-left:15px}
.mu-search-item > table > tbody > tr > td > .mu-selectbox,.mu-search-item > table > tbody > tr > td > .mu-selectbox .mu-value{width:100%}


/* ui element */
.mu-input{display:block;width:100%;height:30px;line-height:30px;padding:2px 8px 0;background:#fff;border:1px solid #bebebe}
.mu-input:hover{border-color:#2c67b9;outline:0}
.mu-input:active,.mu-input:focus{border-color:#2c67b9;outline:0}
.mu-input[disabled],.mu-input[readonly]{background-color:#f5f5f5;border-color:#f5f5f5}
.mu-input[disabled]+.mu-icon,.mu-input[readonly]+.mu-icon{color:#bbb}
.mu-input-xs{height:22px;line-height:22px}
.mu-input-sm{height:26px;line-height:26px}
.mu-input-lg{height:36px;line-height:36px}

.mu-input-icon{position:relative}
.mu-input-icon .mu-input{padding-left:30px}
.mu-input-icon .mu-icon{position:absolute;top:50%;left:10px;margin-top:-7px}

.mu-item-group .mu-input{display:inline-block;width:auto}
.mu-item-group > *{vertical-align:middle}
.mu-item-inline .mu-item-group{display:inline-block}

.mu-input-calendar{display:inline-block}
.mu-input-calendar:after{content:'';display:block;height:0;clear:both;visibility:hidden}
.mu-input-calendar .mu-input{float:left;width:100px}
.mu-input-calendar .mu-btn{float:left;margin-left:3px}

.mu-area{display:block;width:100%;min-height:60px;padding:5px;background:#fff;border:1px solid #bebebe;resize:none}
.mu-area:hover{border-color:#2c67b9;outline:0}
.mu-area:active,.mu-area:focus{border-color:#2c67b9;outline:0}
.mu-area[disabled],.mu-area[readonly]{background-color:#f5f5f5;border-color:#f5f5f5;color:#bbb}


/* button */
.mu-btn{display:inline-block;height:30px;line-height:30px;padding:0 8px;background-color:#98a9c4;border:0;font-weight:normal;color:#fff;cursor:pointer}
.mu-btn.mu-pop-btn{background-color:#75a3e4}
.mu-btn > *{color:#fff}
.mu-btn:hover{background-color:#4d88db;color:#fff}
.mu-btn:active,.mu-btn.active{background-color:#2f5994;outline:0}
.mu-btn[disabled],.mu-btn[disabled]:hover{background-color:#f5f5f5;cursor:no-drop;color:#bbb}
.mu-btn[disabled] > *,.mu-btn[disabled]:hover > *{color:#bbb}

.mu-btn-xs,.mu-btn-xs-group > .mu-btn{height:22px;line-height:22px}
.mu-btn-sm,.mu-btn-sm-group > .mu-btn{height:26px;line-height:26px}
.mu-btn-lg,.mu-btn-lg-group > .mu-btn{height:36px;line-height:36px;font-weight:bold}

.mu-btn-icon > i:before{margin-right:5px;font-size:14px}

.mu-btn-icon-only > i:before{margin-right:0}

.mu-btn-bg-non{height:initial;line-height:initial;padding:0;background:none !important;border:0}
.mu-btn-bg-non:hover,.mu-btn-bg-non:active{background:none !important}
.mu-btn-bg-non > i:before{margin-right:0;color:#666}
.mu-btn-bg-non:hover > i:before{color:#444}
.mu-btn-bg-non[disabled],.mu-btn-bg-non[disabled]:hover,.mu-btn-bg-non[disabled]:hover > *:before{background:none !important;color:#888;cursor:no-drop}

.mu-btn-group:after{content:'';display:block;height:0;clear:both;visibility:hidden}
.mu-btn-group > .mu-btn{float:left;border-radius:0;background:#98a9c4}
.mu-btn-group > .mu-btn:hover{background:#4d88db;color:#fff}
.mu-btn-group > .mu-btn:active,.mu-btn-group > .mu-btn.active{background:#2f5994;color:#fff}
.mu-btn-group > .mu-btn:active,.mu-btn-group > .mu-btn:focus{outline:0}
.mu-btn-group > .mu-btn+.mu-btn{border-left:1px solid #7a93ba}
.mu-btn-group > .mu-btn:first-child{border-top-left-radius:4px;border-bottom-left-radius:4px}
.mu-btn-group > .mu-btn:last-child{border-top-right-radius:4px;border-bottom-right-radius:4px}

.mu-line-group:after{content:'';display:block;clear:both}
.mu-line-group > *{float:left;margin:0 2px}
.mu-line-group > *:first-child{margin-left:0}
.mu-line-group > *:last-child{margin-right:0}
.mu-line-group .mu-dotted-line{height:29px;line-height:29px;border-right:1px dotted #989899}

.mu-btn-dropdown{position:relative;display:inline-block}
.mu-btn-dropdown > .mu-btn{position:relative;padding-right:30px}
.mu-btn-dropdown > .mu-btn:after{content:'';position:absolute;top:50%;right:8px;-ms-transform: translate3d(0, -50%, 0);-webkit-transform: translate3d(0, -50%, 0);transform: translate3d(0, -50%, 0);border:5px solid #fff;border-bottom:0;border-left-color:transparent;border-right-color:transparent;border-radius:2px}
.mu-btn-dropdown > .mu-list{display:none;position:absolute;top:100%;left:0;width:100%}
.mu-btn-dropdown.on > .mu-btn{background-color:#2f5994;}
.mu-btn-dropdown.on > .mu-list{display:block}
.mu-btn-dropdown > .mu-list > li.disabled{background-color:#f5f5f5;cursor:no-drop;color:#bbb}
.mu-btn-dropdown > .mu-list > li.disabled > a{cursor:no-drop;color:#bbb}

.mu-btn-dropdown.mu-dropup > .mu-btn:after{border-bottom:5px solid #fff;border-top:0;}
.mu-btn-dropdown.mu-dropup > .mu-list{top:inherit;bottom:100%}


/*checkbox*/
.mu-checkbox{position:relative;display:inline}
.mu-checkbox input{position:absolute;overflow:hidden;clip:rect(0 0 0 0);height:1px;width:1px;margin:-1px;padding:0;border:0}
.mu-checkbox label{position:relative;display:inline-block;height:20px;line-height:20px;padding-left:19px;vertical-align:middle;cursor:pointer}
.mu-checkbox label:before{content:"\f0c8";color:#788497;position:absolute;;left:0;top:0;font:normal normal normal 20px/1 FontAwesome;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;transform:translate(0, 0)}
.mu-checkbox label:hover:before{color:#4d88db}
.mu-checkbox input[disabled] + label:before{content:"\f0c8";color:#d8d8d8}
.mu-checkbox input[disabled] + label{color:#d8d8d8;cursor:no-drop}

.mu-checkbox input:checked + label:before{content:"\f14a";color:#75a3e4}
.mu-checkbox input:checked:hover + label:before{color:#4d88db}
.mu-checkbox input[disabled]:checked + label:before{content:"\f14a";color:#d8d8d8}
.mu-checkbox input[disabled]:checked + label{color:#d8d8d8;cursor:no-drop}

.mu-checkbox.mu-checkbox-lg label{height:24px;line-height:24px;padding-left:23px}
.mu-checkbox.mu-checkbox-lg label:before{font-size:24px}
.mu-checkbox.mu-checkbox-sm label{height:17px;line-height:17px;padding-left:16px}
.mu-checkbox.mu-checkbox-sm label:before{top:-1px;font-size:17px}
.mu-checkbox.mu-checkbox-xs label{height:12px;line-height:12px;padding-left:11px}
.mu-checkbox.mu-checkbox-xs label:before{top:-1px;font-size:13px}


/*radio*/
.mu-radio{position:relative;display:inline}
.mu-radio input{position:absolute;overflow:hidden;clip:rect(0 0 0 0);height:1px;width:1px;margin:-1px;padding:0;border:0}
.mu-radio label{position:relative;display:inline-block;height:20px;line-height:20px;padding-left:20px;vertical-align:middle;cursor:pointer}
.mu-radio label:before{content:"\f1db";color:#788497;position:absolute;;left:0;top:0;font:normal normal normal 20px/1 FontAwesome;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;transform:translate(0, 0)}
.mu-radio label:hover:before{color:#4d88db}
.mu-radio input[disabled] + label:before{content:"\f1db";color:#d8d8d8}
.mu-radio input[disabled] + label{color:#d8d8d8;cursor:no-drop}

.mu-radio input:checked + label:before{content:"\f192";color:#75a3e4}
.mu-radio input:checked:hover + label:before{color:#4d88db}
.mu-radio input[disabled]:checked + label:before{content:"\f192";color:#d8d8d8}
.mu-radio input[disabled]:checked + label{color:#d8d8d8;cursor:no-drop}

.mu-radio.mu-radio-lg label{height:24px;line-height:24px;padding-left:24px}
.mu-radio.mu-radio-lg label:before{font-size:24px}
.mu-radio.mu-radio-sm label{height:17px;line-height:17px;padding-left:17px}
.mu-radio.mu-radio-sm label:before{top:-1px;font-size:17px}
.mu-radio.mu-radio-xs label{height:12px;line-height:12px;padding-left:11px}
.mu-radio.mu-radio-xs label:before{top:-1px;font-size:13px}


/*list*/
.mu-list{position:relative;z-index:10;overflow:auto;background:#f9f9f9;border:1px solid #dfdfdf;box-shadow:1px 1px 1px 0 #d6d6d6}
.mu-list > li{padding-right:10px;height:34px;line-height:34px;text-indent:8px;cursor:pointer;text-align:left}
.mu-list > li+li{border-top:1px solid #e8e8e8}
.mu-list > li:first-child{border-top-left-radius:4px;border-top-right-radius:4px}
.mu-list > li:last-child{border-bottom-left-radius:4px;border-bottom-right-radius:4px}
.mu-list > li:hover{background-color:#ced6e0}
.mu-list > li.active{background-color:#75a3e4}
.mu-list > li.active > a{color:#fff}
.mu-list > li > a{text-overflow:ellipsis;white-space:nowrap}


/*popup menu*/
.mu-popup-menu{display:inline-block;background-color:#fff;border:1px solid #d0d0d0;box-shadow:0px 0px 7px 0px #d5d5d5;text-align:left}
.mu-popup-menu > li{position:relative;text-align:left}
.mu-popup-menu > li + li{border-top:1px solid #e8e8e8}
.mu-popup-menu > li > a{display:block;padding:10px 25px;vertical-align:middle;white-space:nowrap}
.mu-popup-menu > li > a > i:before{color:#747f90}
.mu-popup-menu > li > a > i{position:absolute;top:10px;left:8px;}
.mu-popup-menu > li > a > span+i{margin-right:0;margin-left:7px}
.mu-popup-menu > li:first-child{border-top-left-radius:4px;border-top-right-radius:4px}
.mu-popup-menu > li:last-child{border-bottom-left-radius:4px;border-bottom-right-radius:4px}

.mu-popup-menu > li:hover{background-color:#4d88db}
.mu-popup-menu > li:hover > a,.mu-popup-menu > li:hover > a > i:before{color:#fff}
.mu-popup-menu > li:active{background-color:#2f5995}
.mu-popup-menu > li:active > a,.mu-popup-menu > li:active > a > i:before{color:#acb8ce}
.mu-popup-menu > li.disabled > a{background-color:#f5f5f5;cursor:no-drop;color:#bbb}
.mu-popup-menu li.mu-icon-sub > a:after{content:'';position:absolute;top:0;bottom:0;right:5px;margin:auto;display:inline-block;width:5px;height:5px;
border-left: 5px solid #4d88db;border-right: 0;border-top: 4px solid transparent;border-bottom: 4px solid transparent}
.mu-popup-menu li.on.mu-icon-sub > a:after{border-left-color:#fff}
.mu-popup-menu li.mu-icon-sub:hover > a:after{border-left-color:#fff}

.mu-popup-icon-right > li{text-align:right}
.mu-popup-icon-right > li > a > i{position:absolute;top:10px;left:inherit;right:8px}

.mu-popup-sub ul{display:inline-block;background-color:#fff;border:1px solid #d0d0d0;box-shadow:1px 1px 0 0 #e2e2e2;text-align:left}
.mu-popup-sub ul li{position:relative;text-align:left}
.mu-popup-sub li + li{border-top:1px solid #e8e8e8}
.mu-popup-sub li > a{display:block;padding:10px 25px;vertical-align:middle;white-space:nowrap}
.mu-popup-sub li > a > i:before{color:#747f90}
.mu-popup-sub li > a > i{position:absolute;top:10px;left:8px;}
.mu-popup-sub li > a > span+i{margin-right:0;margin-left:7px}
.mu-popup-sub li:first-child{border-top-left-radius:4px;border-top-right-radius:4px}
.mu-popup-sub li:last-child{border-bottom-left-radius:4px;border-bottom-right-radius:4px}
.mu-popup-sub li:hover{background-color:#4d88db}
.mu-popup-sub li:hover > a,.mu-popup-sub li:hover > a > i:before{color:#fff}
.mu-popup-sub li:active{background-color:#2f5995}
.mu-popup-sub li:active > a,.mu-popup-sub li:active > a > i:before{color:#acb8ce}
.mu-popup-sub li.disabled > a{background-color:#f5f5f5;cursor:no-drop;color:#bbb}

.mu-popup-sub > li ul{display:none;z-index:10;position:absolute;left:105%;top:0px}
.mu-popup-sub > li.on,.mu-popup-sub ul li.on{background-color:#4d88db}
.mu-popup-sub > li.on > a,.mu-popup-sub ul li.on >a{color:#fff}
.mu-popup-sub > li:hover > ul,.mu-popup-sub > li > ul > li:hover > ul{display:block}
.mu-popup-sub > li.on > ul,.mu-popup-sub > li > ul > li.on > ul{display:block}

.mu-popup-group > li+li{border-top:0;}
.mu-popup-group > li.mu-divider{border-top:2px solid #b9b9b9}

.mu-popup-comp > li ul{left:inherit;top:inherit;}
/*selectbox*/
.mu-selectbox{position:relative;display:inline-block}
.mu-selectbox .mu-value{min-width:80px;height:30px;padding:0 25px 0 8px;background:#f2f5f8;border:1px solid #bebebe;text-align:left;color:#010101}
.mu-selectbox .mu-value:hover,.mu-selectbox .mu-value:active,.mu-selectbox .mu-value:focus{border-color:#2c67b9;outline:0}
.mu-selectbox .mu-value:hover:after,.mu-selectbox .mu-value:active:after,.mu-selectbox .mu-value:focus:after{border-top-color:#2c67b9}
.mu-selectbox .mu-value:after{content:'';position:absolute;top:50%;right:8px;-ms-transform: translate3d(0, -50%, 0);-webkit-transform: translate3d(0, -50%, 0);transform: translate3d(0, -50%, 0);border:5px solid #98a9c4;border-bottom:0;border-left-color:transparent;border-right-color:transparent;border-radius:2px}
.mu-selectbox .mu-list{display:none;z-index:10;position:absolute;top:100%;width:100%;max-height:205px;overflow:auto;color:#010101}
.mu-selectbox .mu-list > li{text-overflow:ellipsis;white-space:nowrap}
.mu-selectbox > .mu-list > li.disabled{background-color:#f5f5f5;cursor:no-drop;color:#bbb}

.mu-selectbox.on .mu-list{display:block}
.mu-selectbox.on .mu-value{background-color:#98a9c4;border-color:#98a9c4;color:#fff}
.mu-selectbox.on .mu-value:after{border-top-color:#fff}

.mu-selectbox.disabled > .mu-value{background-color:#f5f5f5;cursor:no-drop;color:#bbb}
.mu-selectbox.disabled > .mu-value:after{border-top-color:#bbb}
.mu-selectbox.disabled.on .mu-list{display:none}

.mu-select-xs .mu-value{height:22px}
.mu-select-sm .mu-value{height:26px}
.mu-select-lg .mu-value{height:36px}

.mu-selectbox.mu-selectup .mu-value:after{border-bottom:5px solid #98a9c4;border-top:0}
.mu-selectbox.mu-selectup.on .mu-value:after{border-bottom:5px solid #fff;border-top:0}
.mu-selectbox.mu-selectup > .mu-list{top:inherit;bottom:100%}


/*gird*/
.mu-grid{width:100%}
.mu-grid thead > tr,.mu-grid body > tr{height:31px}
.mu-grid thead > tr > th{font-weight:bold;vertical-align:bottom;text-align:center}
.mu-grid tbody > tr > th, .mu-grid tfoot > tr > th,
.mu-grid thead > tr > td, .mu-grid tbody > tr > td, .mu-grid tfoot > tr > td{padding:8px;border-bottom:1px solid #c6c6c6;vertical-align:top}
/* .mu-grid tbody > tr:last-child > th,.mu-grid tbody > tr:last-child > td{border-bottom:0} */

.mu-grid-border{border:1px solid #c6c6c6}
.mu-grid-border thead > tr > th + th,.mu-grid-border tbody > tr > th + th,.mu-grid-border tfoot > tr > th + th,
.mu-grid-border thead > tr > td + td,.mu-grid-border tbody > tr > td + td,.mu-grid-border tfoot > tr > td + td{}
.mu-grid-border thead > tr > th:first-child,.mu-grid-border thead > tr > td:first-child,
.mu-grid-border tbody > tr > th:first-child,.mu-grid-border tbody > tr > td:first-child{}
.mu-grid-border thead > tr > th:last-child,.mu-grid-border thead > tr > td:last-child,
.mu-grid-border tbody > tr > th:last-child,.mu-grid-border tbody > tr > td:last-child{}
.mu-grid-border thead > tr:first-child > th,.mu-grid-border thead > tr:first-child > td,
.mu-grid-border tbody > tr:first-child > th,.mu-grid-border tbody > tr:first-child > td{}
.mu-grid-border tbody > tr:last-child > th,.mu-grid-border tbody > tr:last-child > td{border-bottom:1px solid #c6c6c6;}

.mu-grid-strip tbody > tr:nth-child(even) th,.mu-grid-strip tbody > tr:nth-child(even) td{background-color:#f9f9f9}

.mu-grid-hover tbody > tr:hover th,.mu-grid-hover tbody > tr:hover td{background-color:#ced6e0}
.mu-grid-hover tbody > tr.selected > td{background:#76a3e4;}

.mu-grid-item thead > tr,.mu-grid-item body > tr{height:30px}
.mu-grid-item tbody > tr > th,.mu-grid-item tbody > tr > td{height:30px;padding:3px 8px;vertical-align:middle}

.mu-grid-sort thead > tr > th{padding-left:3px;padding-right:13px;cursor:pointer}
.mu-grid-sort thead > tr > th:after{content:"\f0dc";position:relative;left:7px;font-size:12px;font:normal normal normal 14px/1 FontAwesome;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;transform:translate(0, 0);color:#acc5e9}
.mu-grid-sort thead > tr > th.up:after{content:"\f0de"}
.mu-grid-sort thead > tr > th.down:after{content:"\f0dd"}

.mu-grid-sort2 thead > tr > th{padding-left:3px;padding-right:13px}
.mu-grid-sort2 thead > tr > th.updown{cursor:pointer}
.mu-grid-sort2 thead > tr > th.up{cursor:pointer}
.mu-grid-sort2 thead > tr > th.down{cursor:pointer}
.mu-grid-sort2 thead > tr > th.updown:after{content:"\f0dc";position:relative;left:7px;font-size:12px;font:normal normal normal 14px/1 FontAwesome;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;transform:translate(0, 0);color:#666666}
.mu-grid-sort2 thead > tr > th.up:after{content:"\f0de";position:relative;left:7px;font-size:12px;font:normal normal normal 14px/1 FontAwesome;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;transform:translate(0, 0);color:#666666}
.mu-grid-sort2 thead > tr > th.down:after{content:"\f0dd";position:relative;left:7px;font-size:12px;font:normal normal normal 14px/1 FontAwesome;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;transform:translate(0, 0);color:#666666}

.mu-grid-expand > tbody > tr.odd{cursor:pointer}
.mu-grid-expand > tbody > tr.odd:hover td{background-color:#f9f9f9}
.mu-grid-expand > tbody > tr.odd.open td{background-color:#75a3e4;color:#fff}
.mu-grid-expand > tbody > tr.even.open td{background-color:#f2f2f2}
.mu-grid-expand > tbody > tr.even td{display:none}
.mu-grid-expand > tbody > tr.even > td{padding:15px 18px 15px 28px;}
.mu-grid-expand > tbody > tr.even.open td{display:table-cell}
.mu-grid-expand > tbody > tr > td > .icon-fold{margin-right:10px;font:normal normal normal 14px/1 FontAwesome;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;transform:translate(0, 0)}
.mu-grid-expand > tbody > tr > td >.icon-fold:before{content:"\f067"}
.mu-grid-expand > tbody > tr.open > td >.icon-fold:before{content:"\f068"}

.mu-grid-scroll.mu-grid-border > .mu-scroll-v > table > tbody > tr:last-child td{border-bottom:0;}

.mu-float-thead-wrapper{position:relative;clear:both}
.mu-float-thead-wrapper .mu-float-thead-div{position:absolute;top:0;left:0;z-index:10;padding:0;margin:0;overflow:hidden;}
.mu-float-thead-wrapper .mu-float-thead-div .mu-float-thead-grid{display:table;border-bottom-width:0;table-layout:fixed;width:100%}
.mu-float-thead-wrapper .mu-grid-wrapper{position:relative;overflow:auto}
.mu-float-thead-wrapper .mu-grid-wrapper .mu-grid{table-layout:fixed}

/*grid import 요소*/
.mu-grid tbody > tr.selected > td{background:#bbd9fe}
/*table*/
.mu-formbox{width:100%;background-color:#fff;border:1px solid #e8e8e8}
.mu-formbox tbody > tr{height:31px}
.mu-formbox tbody > tr > th,.mu-formbox tbody > tr > td{padding:0 8px;vertical-align:middle}
.mu-formbox tbody > tr > th+th,.mu-formbox tbody > tr > th+td,.mu-formbox tbody > tr > td+td,.mu-formbox tbody > tr > td+th{border-left:1px solid #e8e8e8}
.mu-formbox tbody > tr+tr > th,.mu-formbox tbody > tr+tr > td{border-top:1px solid #e8e8e8}
.mu-formbox tbody > tr > th{background-color:#f7f7f7;text-align:left;font-weight:bold}
.mu-formbox tbody > tr:first-child > th,.mu-formbox tbody > tr:first-child > td{border-top:1px solid #e8e8e8}
.mu-formbox tbody > tr:last-child > th,.mu-formbox tbody > tr:last-child > td{border-bottom:1px solid #e8e8e8}
.mu-formbox thead > tr > th:first-child,.mu-formbox tbody > tr > th:first-child,
.mu-formbox thead > tr > td:first-child,.mu-formbox tbody > tr > td:first-child{border-left:1px solid #e8e8e8}
.mu-formbox thead > tr > th:last-child,.mu-formbox tbody > tr > th:last-child,
.mu-formbox thead > tr > td:last-child,.mu-formbox tbody > tr > td:last-child{border-right:1px solid #e8e8e8}
.mu-formbox tbody > tr > td > .mu-input,.mu-formbox tbody > tr > td > .mu-btn,.mu-formbox tbody > tr > td > .mu-selectbox .mu-value{border-radius:0}
.mu-formbox tbody > tr > td > .mu-selectbox,.mu-formbox tbody > tr > td > .mu-selectbox .mu-value{width:100%}

.mu-formbox-vertical thead > tr{height:31px}
.mu-formbox-vertical thead > tr > th,.mu-formbox-vertical thead > tr > td{padding:0 8px;vertical-align:middle}
.mu-formbox-vertical thead > tr > th,.mu-formbox-vertical thead > tr > td{background-color:#f7f7f7;border-bottom:1px solid #e8e8e8;font-weight:bold;text-align:center}
.mu-formbox-vertical thead > tr > th+th,.mu-formbox-vertical thead > tr > th+td,.mu-formbox-vertical thead > tr > td+td,.mu-formbox-vertical thead > tr > td+th{border-left:1px solid #e8e8e8}


/*pagination*/
.mu-pagination,.mu-pagination ul{display:inline-block}
.mu-pagination:after,.mu-pagination ul:after{content:'';display:block;height:0;clear:both;visibility:hidden}
.mu-pagination > *,.mu-pagination li{float:left}
.mu-pagination > *+*,.mu-pagination li+li{margin-left:10px}
.mu-pagination button,.mu-pagination a{display:block;height:22px;vertical-align:middle}

.mu-pagination button{padding:0 8px;background-color:#98a9c4;border:0}
.mu-pagination button span:after{font:normal normal normal 11px/1 FontAwesome;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;transform:translate(0, 0);color:#fff}
.mu-pagination button:hover{background-color:#4d88db}
.mu-pagination button:active{background-color:#2f5994;outline:0}
.mu-pagination button:active span:after{color:#acb8ce}
.mu-pagination button[disabled],.mu-pagination button[disabled]:hover,.mu-pagination button[disabled]:active{background-color:#f5f5f5}
.mu-pagination button[disabled] span:after,.mu-pagination button[disabled]:hover span:after,.mu-pagination button[disabled]:active span:after{color:#d8d8d8}

.mu-pagination .mu-first{padding-left:6px}
.mu-pagination .mu-last{padding-right:6px}
.mu-pagination .mu-prev,.mu-pagination .mu-next{width:44px}
.mu-pagination .mu-first span:after{content:"\f04a"}
.mu-pagination .mu-prev span:after{content:"\f0d9";font-size:15px}
.mu-pagination .mu-next span:after{content:"\f0da";font-size:15px}
.mu-pagination .mu-last span:after{content:"\f04e"}

.mu-pagination li a{padding:4px 8px 2px;background-color:#fff;border:1px solid #d8d8d8;font-size:11px;font-family:"맑은고딕", Malgun Gothic, Nanum Gothic, sans-serif}
.mu-pagination li:hover a{border-color:#4d88db;color:#000;}
.mu-pagination li.active a,.mu-pagination li a:active{background-color:#75a3e4;border-color:#75a3e4;color:#fff;cursor:default;outline:0}

.mu-grid + .mu-pagination{margin-top:30px}


/* paging */
.mu-paging{display:inline-block;width:100%}
.mu-paging:after{content:'';display:block;height:0;clear:both;visibility:hidden}
.mu-paging > a,.mu-paging > button{display:inline-block;width:130px;height:36px;padding:0 8px;background-color:#98a9c4;border:1px solid #98a9c4;vertical-align:middle;color:#fff}
.mu-paging > a:hover,.mu-paging > button:hover{background-color:#4d88db}
.mu-paging > a:active,.mu-paging > button:active{background-color:#2f5994;outline:0}
.mu-paging > .mu-disabled,.mu-paging > button[disabled]{background-color:#f5f5f5;cursor:no-drop}
.mu-paging > a > span:before,.mu-paging > button > span:before,
.mu-paging > a > span:after,.mu-paging > button > span:after{display:inline-block;font-size:12px;font:normal normal normal 14px/1 FontAwesome;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;transform:translate(0, 0)}
.mu-paging > .mu-prev{padding-right:16px}
.mu-paging > .mu-prev > span:before{content:"\f0d9";margin-right:6px}
.mu-paging > .mu-next{padding-left:16px}
.mu-paging > .mu-next > span:after{content:"\f0da";margin-left:6px}

.mu-paging > .mu-left{float:left}
.mu-paging > .mu-right{float:right}


/* 트리 메뉴 */
.mu-treeMenu{width:100%;height:100%;}
.mu-treeMenu .mu-title{font-size:14px;font-weight:bold;}
.mu-treeMenu li{margin:0;padding:3px 0 3px 20px;background:url("../images/common/treeview-default-line.gif") no-repeat 0 0;}
.mu-treeMenu li:first-child.collapsable, .mu-treeMenu li:first-child.expandable {background-position: 0 -180px;}
.mu-treeMenu li.collapsable, .mu-treeMenu li.expandable {background-position: 0 -176px;}
.mu-treeMenu li:last-child{background-position: 0 -1766px;}
.mu-treeMenu li .mu-hitarea{background:url("../images/common/treeview-default.gif") no-repeat -64px -25px;cursor:pointer;float:left;height:16px;margin-left:-20px;width:16px;}
.mu-treeMenu.mu-treeFolder li .mu-hitarea{background:url("../images/common/treeview-folder.png") no-repeat -64px -25px;cursor:pointer;float:left;height:16px;margin-left:-20px;width:16px;}
.mu-treeMenu.mu-treeArrow li .mu-hitarea{background:url("../images/common/treeview-arrow.png") no-repeat -64px -25px;cursor:pointer;float:left;height:16px;margin-left:-20px;width:16px;}
.mu-treeMenu.mu-treePlusminus li .mu-hitarea{background:url("../images/common/treeview-plusminus.png") no-repeat -64px -25px;cursor:pointer;float:left;height:16px;margin-left:-20px;width:16px;}
.mu-treeMenu.mu-treeArrow li, .mu-treeMenu.mu-treePlusminus li{background:none;}
.mu-treeMenu li.expandable > .mu-hitarea{background-position:-80px -3px;}
.mu-treeMenu li.collapsable > .mu-hitarea{background-position:-64px -25px;}
.mu-treeMenu li:first-child.expandable > .mu-hitarea{background-position:-80px -3px;}
.mu-treeMenu li:first-child.collapsable > .mu-hitarea{background-position:-64px -25px;}
.mu-treeMenu li:last-child.expandable > .mu-hitarea{background-position:-32px -70px;}
.mu-treeMenu li:last-child.collapsable > .mu-hitarea{background-position:0 -114px;}
.mu-treeMenu li.expandable ul{display:none;}
.mu-treeMenu li span button{display:none;width:20px;height:12px;line-height:12px;padding-left:5px;}
.mu-treeMenu li span button i{height:12px;line-height:12px;display:block;}
.mu-treeMenu li span button i:before{font-size:12px;}
.mu-treeMenu li span:hover button{display:inline-block;}


/* 타이틀 */
.mu-subjWrap{display:inline-block;width:100%}
.mu-subjWrap:after{content:'';display:block;height:0;clear:both;visibility:hidden}
.mu-page-title{padding-bottom:3px;border-bottom:1px solid #dedede}

.mu-title{font-family:"맑은고딕", Malgun Gothic, Nanum Gothic, sans-serif;font-size:36px;font-weight:bold}
.mu-title small{font-weight:normal;font-size:65%}
.mu-title .mu-icon{margin-right:3px;font-size:90%}

h2.mu-title{font-size:30px}
h3.mu-title{font-size:24px}
h4.mu-title{font-size:18px;font-weight:normal}
h5.mu-title{font-size:14px;font-weight:normal}
h6.mu-title{font-size:12px;font-weight:normal}


/* icon */
.mu-icon{font:normal normal normal 14px/1 FontAwesome;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;transform:translate(0, 0)}
.mu-icon.search:before{content:"\f002"}
.mu-icon.list:before{content:"\f0ca"}
.mu-icon.save:before{content:"\f0c7"}
.mu-icon.add:before{content:"\f067"}
.mu-icon.del:before{content:"\f068"}
.mu-icon.edit:before{content:"\f044"}
.mu-icon.trash:before{content:"\f014"}
.mu-icon.cancel:before{content:"\f00d"}
.mu-icon.logout:before{content:"\f08b"}
.mu-icon.logout2:before{content:"\f011"}
.mu-icon.setting:before{content:"\f013"}
.mu-icon.setting2:before{content:"\f0ad"}
.mu-icon.file:before{content:"\f016"}
.mu-icon.refresh:before{content:"\f021"}
.mu-icon.err:before{content:"\f071"}
.mu-icon.user:before{content:"\f007"}
.mu-icon.chart-bar:before{content:"\f080"}
.mu-icon.chart-pie:before{content:"\f200"}
.mu-icon.chart-line:before{content:"\f201"}
.mu-icon.home:before{content:"\f015"}
.mu-icon.info:before{content:"\f05a"}
.mu-icon.up:before{content:"\f077"}
.mu-icon.down:before{content:"\f078"}
.mu-icon.left:before{content:"\f053"}
.mu-icon.right:before{content:"\f054"}
.mu-icon.clock:before{content:"\f017"}
.mu-icon.bell:before{content:"\f0f3"}
.mu-icon.desktop:before{content:"\f108"}
.mu-icon.copyright:before{content:"\f1f9"}
.mu-icon.upload:before{content:"\f093"}
.mu-icon.download:before{content:"\f019"}
.mu-icon.trash2:before{content:"\f1f8"}
.mu-icon.fileText:before{content:"\f15c"}
.mu-icon.lock:before{content:"\f023"}
.mu-icon.calendar:before{content:"\f073"}
.mu-icon.link:before{content:"\f0c1"}
.mu-icon.unlink:before{content:"\f127"}
.mu-icon.external-link:before{content:"\f08e"}
.mu-icon.eye:before{content:"\f06e"}
.mu-icon.check:before{content:"\f00c"}
.mu-icon.check-circle:before{content:"\f058"}
.mu-icon.table:before{content:"\f0ce"}
.mu-icon.undo:before{content:"\f0e2"}
.mu-icon.repeat:before{content:"\f01e"}
.mu-icon.backward:before{content:"\f048"}
.mu-icon.forward:before{content:"\f051"}
.mu-icon.play:before{content:"\f04b"}
.mu-icon.pause:before{content:"\f04c"}
.mu-icon.stop:before{content:"\f04d"}
.mu-icon.arrow-right:before{content:"\f061"}
.mu-icon.arrow-up:before{content:"\f062"}
.mu-icon.arrow-left:before{content:"\f060"}
.mu-icon.arrow-down:before{content:"\f063"}
.mu-icon.help-circle:before{content:"\f059"}
.mu-icon.volume-down:before{content:"\f027"}
.mu-icon.bar:before{content:"\f0c9"}
.mu-icon.exclamation:before{content:"\f06a"}
.mu-icon.plus-square:before{content:"\f0fe"}
.mu-icon.plus-square2:before{content:"\f196"}
.mu-icon.minus-square:before{content:"\f146"}
.mu-icon.minus-square2:before{content:"\f147"}
.mu-icon.circle:before{content:"\f111"}


/* breadcrumb */
.mu-subjWrap{display:inline-block;width:100%}
.mu-path:after{content:'';display:block;height:0;clear:both;visibility:hidden}
.mu-path > li{float:left}
.mu-path > li:after{content:'>';display:inline-block;margin:0 5px;color:#aaa}
.mu-path > li:last-child:after{content:'';margin:0}


/* tab */
.mu-tab{display:inline-block;width:100%;background-color:#fff}
.mu-tab:after{content:'';display:block;height:0;clear:both;visibility:hidden}
.mu-tab > li{float:left;position:relative;}
.mu-tab > li+li{margin-left:1px}
.mu-tab > li > a{display:block;min-width:130px;padding:11px 15px 10px;background-color:#98a9c4;border-top-left-radius:4px;border-top-right-radius:4px;text-align:center;color:#fff}
.mu-tab > li > a:hover{background-color:#4d88db}
.mu-tab > li > a:active,.mu-tab > li.active > a{background-color:#75a3e4}
.mu-tab > li.disabled > a{background-color:#f5f5f5;color:#bbb;cursor:no-drop}

.mu-tab > li > .mu-btn-close{position:absolute;top:50%;right:10px;margin-top:-7px;min-width:inherit;padding:0;background-color:transparent !important;border:0}

.mu-tab-pill{background-color:#e7e7e7;border-bottom:1px solid #d0d0d0;}
.mu-tab-pill > li > a{min-width:100px;padding-top:7px;padding-bottom:6px;border-radius:0}

.mu-tab-vertical{border-bottom:0}
.mu-tab-vertical > li{float:none}
.mu-tab-vertical > li+li{margin:5px 0 0 0}
.mu-tab-vertical > li > a{padding-top:7px;padding-bottom:6px}


/*alert / confirm / prompt*/
.mu-background{z-index:10;position:fixed;top:0;left:0;right:0;bottom:0;background-color:#000;opacity:.4;filter:alpha(opacity=40)}
.mu-background + .mu-confirm{box-shadow:0 0 3px 1px #8f8f8f}
.mu-background + .mu-alert{box-shadow:0 0 3px 1px #8f8f8f}

/* alert */
.mu-alert{z-index:10;position:absolute;min-width:250px;padding:20px 0 10px;background-color:#fff;border:1px solid #c3c3c3;box-shadow:0 0 3px 1px #eee}
.mu-alert-body{font-family:"맑은고딕", Malgun Gothic, Nanum Gothic, sans-serif;line-height:1.7}
.mu-alert-body .mu-icon{font-size:26px;color:#8695ad;}
.mu-alert-status{font-size:24px;font-family:arial}
.mu-alert-msg{margin-top:5px;padding:10px 20px 0;border-top:1px solid #e8e8e8;color:#5d5d5d}
.mu-alert-foot{padding-top:15px}
.mu-alert-foot > .mu-btn{width:100px;height:25px;line-height:25px}
.mu-alert-succ .mu-alert-body .mu-icon,.mu-alert-succ .mu-alert-status{color:#0297ce}
.mu-alert-err .mu-alert-body .mu-icon,.mu-alert-err .mu-alert-status{color:#ff9000}


/* confrim */
.mu-confirm{z-index:10;position:absolute;margin:0 auto;width:450px;background-color:#fff;border:1px solid #c3c3c3;box-shadow:0 0 3px 1px #eee}
.mu-confirm-head{padding:0 10px;height:33px;line-height:33px;vertical-align:middle;background-color:#f7f7f7;border-bottom:1px solid #c3c3c3}
.mu-confirm-head .title{float:left;font-size:14px;font-weight:bold}
.mu-confirm-head .mu-btn{float:right;margin-top:10px}
.mu-confirm-head .mu-btn > i:before{color:#8695ad}
.mu-confirm-head .mu-btn:hover > i:before{color:#4d88db}
.mu-confirm-body{padding:10px 20px;font-family:"맑은고딕", Malgun Gothic, Nanum Gothic, sans-serif;line-height:1.7;color:#5d5d5d;word-break:break-word;}
.mu-confirm-foot{padding:5px 0 10px}
.mu-confirm-foot > .mu-btn{width:80px;height:25px;line-height:25px}
.mu-confirm-foot > .mu-pop-btn{font-weight:bold}


/* prompt */
.mu-prompt{z-index:10;position:absolute;min-width:330px;background-color:#fff;border:1px solid #c3c3c3;box-shadow:0 0 3px 1px #eee}
.mu-prompt-head{padding:0 15px;height:33px;line-height:33px;vertical-align:middle}
.mu-prompt-head .title{float:left;font-size:14px;font-weight:bold}
.mu-prompt-head .mu-btn{float:right;margin-top:10px}
.mu-prompt-head .mu-btn > i:before{color:#8695ad}
.mu-prompt-head .mu-btn:hover > i:before{color:#4d88db}
.mu-prompt-body{padding:20px 15px;font-family:"맑은고딕", Malgun Gothic, Nanum Gothic, sans-serif;line-height:1.7;text-align:left}
.mu-prompt-body .mu-input{margin:5px 0;height:25px;line-height:25px}
.mu-prompt-foot{padding:20px 15px 10px;text-align:right}
.mu-prompt-foot > .mu-btn{width:80px;height:25px;line-height:25px}
.mu-prompt-foot > .mu-pop-btn{font-weight:bold}


/* badge */
.mu-badge{display:inline-block;min-width:15px;padding:3px 6px 2px;background-color:#e9aa01;color:#fff !important;font-weight:bold;font-size:12px;line-height:1;text-align:center;white-space:nowrap;vertical-align:baseline;border-radius:10px}


/* panel */
.mu-panel{display:inline-block;width:100%;background:#fff;border:1px solid #c7cddb}
.mu-panel:after{content:'';display:block;height:0;clear:both;visibility:hidden}
.mu-panel > .mu-panel-head{min-height:28px;padding:8px 0 6px;border-bottom:1px solid #c7cddb;text-indent:10px}
.mu-panel > .mu-panel-head .mu-title{font-weight:bold;font-size:14px}
.mu-panel > .mu-panel-head .mu-btn-close{float:right;margin-right:10px}
.mu-panel > .mu-panel-body{padding:10px}

.mu-panel > .mu-grid > thead > tr > th{border-top:1px solid #e8e8e8}
.mu-panel > .mu-grid > tbody > tr:last-child td{border-bottom:0}
.mu-panel > .mu-grid-border{border:0}

.mu-panel > .mu-formbox{border:0;border-top:1px solid #c7cddb}


/*dialog*/
.mu-dialog-background{z-index:10;position:fixed;top:0;left:0;right:0;bottom:0;background-color:#000;opacity:.4;filter:alpha(opacity=40)}
.mu-dialog{z-index:11;position:absolute;display:inline-block;min-width:320px;background-color:#fff;border:1px solid #c3c3c3;border-radius:2px;box-shadow:0 0 3px 0 #eee;text-align:left}
.mu-dialog-head{height:34px;line-height:34px;background-color:#f7f7f7;border-bottom:1px solid #e8e8e8}
.mu-dialog-head > *{line-height:34px}
.mu-dialog-head:after{content:'';display:block;height:0;clear:both;visibility:hidden}
.mu-dialog-head:active{cursor:move}
.mu-dialog-head .title{float:left;margin-left:12px;color:#000;font-weight:bold;font-family:"맑은고딕", Malgun Gothic, Nanum Gothic, sans-serif}
.mu-dialog-head .mu-btn{float:right;margin-right:12px}
.mu-dialog-head .mu-btn i:before{color:#98a9c4}
.mu-dialog-head .mu-btn:hover i:before{color:#4d88db}
.mu-dialog-head .mu-btn:active i:before{color:#2f5994}
.mu-dialog-body{padding:20px;overflow:auto}
.mu-dialog-foot{padding:12px;border-top:1px solid #e8e8e8;text-align:right;vertical-align:middle}
.mu-dialog-foot .mu-btn{min-width:60px;text-transform:capitalize;}

.mu-fix-foot{min-height:160px}
.mu-fix-foot .mu-dialog-head{position:absolute;top:0;left:0;right:0}
.mu-fix-foot .mu-dialog-body{position:absolute;top:34px;width:100%;height:calc(100% - 34px - 55px);}
.mu-fix-foot .mu-dialog-foot{position:absolute;left:0;right:0;bottom:0}

.mu-modal-open{overflow:hidden}

.ui-resizable-helper{border: 2px dashed #98a9c4}
.ui-resizable-handle{position:absolute;font-size: 0.1px;display:block;-ms-touch-action: none;touch-action: none}
.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle{display: none}
.ui-resizable-n{cursor: n-resize;height: 7px;width: 100%;top: -5px;left: 0}
.ui-resizable-s{cursor: s-resize;height: 7px;width: 100%;bottom: -5px;left: 0}
.ui-resizable-e{cursor: e-resize;width: 7px;right: -5px;top: 0;height: 100%}
.ui-resizable-w{cursor: w-resize;width: 7px;left: -5px;top: 0;height: 100%}
.ui-resizable-se{cursor: se-resize;width: 12px;height: 12px;right: 1px;bottom: 1px}
.ui-resizable-sw{cursor: sw-resize;width: 9px;height: 9px;left: -5px;bottom: -5px}
.ui-resizable-nw{cursor: nw-resize;width: 9px;height: 9px;left: -5px;top: -5px}
.ui-resizable-ne{cursor: ne-resize;width: 9px;height: 9px;right: -5px;top: -5px}
.ui-icon-gripsmall-diagonal-se{width:11px;height:11px;background:url(../images/common/icon/ico_dialog_resize.png) 0 0 no-repeat}

/*file attach*/
.mu-file-attach{display:inline-block;width:100%}
.mu-file-attach:after{content:'';display:block;height:0;clear:both;visibility:hidden}
.mu-file-attach .mu-input{float:left;width:350px;border-right:0;background-color:#fff;border-color:#bebebe;border-top-right-radius:0;border-bottom-right-radius:0}
.mu-file-attach .mu-file-btn{float:left;position:relative;width:80px;min-height:21px;overflow:hidden}
.mu-file-attach .mu-file-btn .mu-btn-hide{position:absolute;top:0;left:0;width:80px;height:100%;opacity:0;filter:alpha(opacity=0);-ms-filter:"alpha(opacity=0)";-khtml-opacity:0;-moz-opacity:0;cursor:pointer}
.mu-file-attach .mu-file-btn .mu-btn{border:0;width:100%;height:30px;border:1px solid #bebebe;border-radius:0;border-top-right-radius:4px;border-bottom-right-radius:4px}


/* Navigation - Horizontal GNB */
.mu-hMenu{height:100%;}
.mu-hMenu:after{display:block;clear:both;content:"";}
.mu-hMenu > li{float:left;height:100%;}
.mu-hMenu > li > a{display:block;padding:0 20px;min-width:170px;height:100%;font-family:"맑은고딕", Malgun Gothic, Nanum Gothic, sans-serif;font-weight:bold;color:#010101;text-align:center;}
.mu-hMenu > li > a:after{content:'';display:inline-block;height:100%;vertical-align:middle;}
.mu-hMenu > li > a > i{margin-right:5px;font-size:20px;color:#515151;vertical-align:middle;}
.mu-hMenu > li:hover > a{background:#ced6e0;color:#010101;}
.mu-hMenu > li.active > a{background:#75a3e4;color:#fff;}
.mu-hMenu > li.active > a > i:before{color:#fff;}
.mu-hMenu li{z-index:20;}
.mu-hMenu li:hover{position:relative;}
.mu-hMenu li:hover > ul{left:0;}
/* menu::level2 */
.mu-hMenu ul{display:block;position:absolute;left:-999em;min-width:200px;text-align:left;overflow:unset;}
.mu-hMenu ul li{width:100%;}
.mu-hMenu .mu-list li{border-radius:0;padding:0;}
.mu-hMenu .mu-list li a:hover{color:#010101;}
.mu-hMenu ul a{display:block;padding:0 20px;}
.mu-hMenu ul a span{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
/* menu::level3 */
.mu-hMenu ul ul{position:absolute;top:0;margin-left:198px;}
.mu-icon.ex:before{content:"\f192"}


/* Navigation - Vertical GNB */
.mu-vMenu{width:100%;border-top:1px solid #d8d8d8;}
.mu-vMenu > li > a{display:block;width:100%;height:44px;padding:0 10px;text-align:left;font-family:"맑은고딕", Malgun Gothic, Nanum Gothic, sans-serif;font-weight:bold;color:#010101;border-bottom:1px solid #d8d8d8;}
.mu-vMenu > li > a:after{content:'';display:inline-block;height:100%;vertical-align:middle;}
.mu-vMenu > li > a > i{margin-right:5px;font-size:20px;color:#515151;vertical-align:middle;}
.mu-vMenu > li:hover > a{background:#ced6e0;color:#010101;}
.mu-vMenu > li.active > a{background:#75a3e4;color:#fff;}
.mu-vMenu > li.active > a > i:before{color:#fff;}
.mu-vMenu li{z-index:20;}
.mu-vMenu li:hover{position:relative;}
.mu-vMenu li:hover > ul{top:0;left:100%;}
/* menu::level2 */
.mu-vMenu ul{display:block;position:absolute;left:-999em;width:100%;text-align:left;overflow:unset;}
.mu-vMenu ul li{width:100%;}
.mu-vMenu .mu-list li{border-radius:0;padding:0;}
.mu-vMenu .mu-list li a:hover{color:#010101;}
.mu-vMenu ul a{display:block;padding:0 10px;}
.mu-vMenu ul a span{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.mu-icon.ex:before{content:"\f192"}


/*scroll*/
.mu-scroll-v{overflow-y:auto}
.mu-scroll-h{overflow-x:auto}


/*datepicker*/
.mu-datepicker{position:relative;z-index:10;display:inline-block}
.ui-helper-clearfix:before, .ui-helper-clearfix:after{content: "";display: table;border-collapse: collapse;}
.mu-datepicker input{display:inline-block;width:90px;height:30px;padding:4px 8px;background:#fff;border:1px solid #bebebe;border-radius:4px;font-family:Arial;}

.ui-datepicker{display:none;position:absolute;top:110%;left:0;min-width:250px;min-height:245px;padding:0;box-shadow:0 1px 3px 0px #aaa;border:0;background-color:#fff;font-family:Arial;text-align:center;}
.ui-datepicker .ui-widget-header{position:relative;padding:10px 22px;background:#fff;border:0;border-radius:4px;color:#747f90;font-size:18px}
.ui-datepicker .ui-widget-header .ui-datepicker-title{margin:0 0.23em;line-height:1.8em}
.ui-datepicker .ui-widget-header .ui-datepicker-prev,
.ui-datepicker .ui-widget-header .ui-datepicker-next{position:relative;top:0;left:0;overflow:hidden;margin-top:3px;width:26px;height:26px;border-radius:4px;background-color:#75a3e4;border:0;cursor:pointer}
.ui-datepicker .ui-widget-header .ui-datepicker-prev span,
.ui-datepicker .ui-widget-header .ui-datepicker-next span{position:absolute;top:0;left:0;right:0;bottom:0;margin:0;text-indent:-9999px}
.ui-datepicker .ui-widget-header .ui-datepicker-prev:after,
.ui-datepicker .ui-widget-header .ui-datepicker-next:after{display:block;margin:5px 0 0 1px;font:normal normal normal 17px/1 FontAwesome;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;transform:translate(0, 0);color:#fff}
.ui-datepicker .ui-widget-header .ui-datepicker-prev{float:left}
.ui-datepicker .ui-widget-header .ui-datepicker-prev:after{content:"\f0d9"}
.ui-datepicker .ui-widget-header .ui-datepicker-next{float:right}
.ui-datepicker .ui-widget-header .ui-datepicker-next:after{content:"\f0da"}
.ui-datepicker .ui-datepicker-calendar{width:inherit;margin:0 auto}
.ui-datepicker .ui-datepicker-calendar thead th{height:30px;font-size:12px;font-weight:normal;color:#747f90}
.ui-datepicker .ui-datepicker-calendar thead th:first-child,.ui-datepicker .ui-datepicker-calendar tbody td:first-child .ui-state-default{color:#a43e00}
.ui-datepicker .ui-datepicker-calendar thead th:last-child,.ui-datepicker .ui-datepicker-calendar tbody td:last-child .ui-state-default{color:#18509f}
.ui-datepicker .ui-datepicker-calendar tbody td{padding:1px}
.ui-datepicker .ui-datepicker-calendar .ui-state-default,
.ui-datepicker .ui-datepicker-calendar .ui-widget-content .ui-state-default,
.ui-datepicker .ui-datepicker-calendar .ui-widget-header .ui-state-default{display:block;min-width:27px;height:27px;line-height:24px;background:#fff;border:1px solid transparent;border-radius:4px;text-align:center;color:#404c5d;font-family:Arial;font-size:12px;font-weight:bold}
.ui-datepicker .ui-datepicker-calendar .ui-state-default:hover{border-color:#4d88db}
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-today .ui-state-default{background-color:#75a3e4;color:#fff !important}
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-current-day .ui-state-active{background-color:#2f5994;color:#fff !important}


 /*loginform*/
 .mu-login-form{display:inline-block;min-width:250px}
 .mu-login-form .mu-vgroup > .mu-input-icon .mu-icon{color:#7c7d7f}
 .mu-login-form .mu-checkbox label{font-size:11px;font-family:"맑은고딕", Malgun Gothic, Nanum Gothic, sans-serif;font-size:11px;color:#6a6a6a}
 .mu-login-form .mu-vgroup > *{display:block;width:100%}
 .mu-login-form .btnSignIn{display:block;height:46px;line-height:46px;font-weight:bold;font-size:16px;font-family:"맑은고딕", Malgun Gothic, Nanum Gothic, sans-serif}


/*toolitp*/
.mu-tooltip{position:absolute;background-color:#fff;border:1px solid #c3c3c3;box-shadow:0 0 8px 0px #d4d4d4;border-radius:3px}
.mu-tooltip > .arrow, .mu-tooltip > .arrow:after{position:absolute;width:0;height:0;border-color:transparent;border-style:solid}
.mu-tooltip > .arrow{border-width:11px}
.mu-tooltip > .arrow:after{content:"";border-width:10px}
.mu-tooltip > .mu-tooltip-head{height:34px;padding:10px 12px 0;background-color:#f7f7f7;border-bottom:1px solid #e8e8e8}
.mu-tooltip > .mu-tooltip-inner{min-height:34px;padding:10px 12px}

.mu-tooltip.top{margin-top:-10px}
.mu-tooltip.top > .arrow{left:50%;bottom:-11px;margin-left:-11px;border-bottom-width:0;border-top-color:#ccc}
.mu-tooltip.top > .arrow:after{content:"";bottom:1px;margin-left:-10px;border-bottom-width:0;border-top-color:#fff}
.mu-tooltip.bottom{margin-top:10px}
.mu-tooltip.bottom > .arrow{left:50%;top:-11px;margin-left:-11px;border-top-width:0;border-bottom-color:#ccc}
.mu-tooltip.bottom > .arrow:after{content:"";top:1px;margin-left:-10px;border-top-width:0;border-bottom-color:#fff}
.mu-tooltip.left{margin-left:-10px}
.mu-tooltip.left > .arrow{right:-11px;top:50%;margin-top:-11px;border-right-width:0;border-left-color:#ccc}
.mu-tooltip.left > .arrow:after{content:"";right:1px;bottom:-10px;border-right-width:0;border-left-color:#fff}
.mu-tooltip.right{margin-left:13px}
.mu-tooltip.right > .arrow{left:-11px;bottom:50%;margin-bottom:-11px;border-left-width:0;border-right-color:#ccc}
.mu-tooltip.right > .arrow:after{content:"";left:1px;top:-10px;border-left-width:0;border-right-color:#fff}
.mu-tooltip.track{margin-top:10px;margin-left:10px}


/*progressbar*/
.mu-progress{overflow:hidden;height:18px;line-height:18px;background-color:#ececec}
.mu-progress > .mu-pbar{float:left;height:100%;background-color:#75a3e4;text-align:center}
.mu-progress > .mu-pbar > span{font-family:"맑은고딕", Malgun Gothic, Nanum Gothic, sans-serif;color:#fff}

.mu-progress > .mu-pbar.normal{background-color:#17c8dd}
.mu-progress > .mu-pbar.major{background-color:#ffba00}
.mu-progress > .mu-pbar.critical{background-color:#e14733}


/* Accordion */
.mu-accordion .mu-accordion-head a{display:block;background:#98a9c4;border-radius:4px;min-height:28px;padding:8px 0 6px;text-indent:18px;}
.mu-accordion .mu-accordion-head a:hover{background:#4d88db;}
.mu-accordion .mu-accordion-head span{font-size:12px;color:#fff;}
.mu-accordion .mu-accordion-head span:before{width:10px;display:inline-block;text-align:center;text-indent:0;margin-right:6px;content:"\f0da";font:normal normal normal 14px/1 FontAwesome;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;transform:translate(0, 0)}
.mu-accordion .mu-accordion-head.active a{background:#75a3e4;border-radius:4px 4px 0 0;}
.mu-accordion .mu-accordion-head.active a span:before{content:"\f0d7";}
.mu-accordion .mu-accordion-body{display:none;border-radius:0 0 4px 4px;border:1px solid #e8e8e8;border-top:none;padding:15px 34px;}
.mu-accordion .mu-accordion-head.active + .mu-accordion-body{display:block;}
.mu-accordion .mu-accordion-item + .mu-accordion-item{margin-top:3px;}


/* Preloader */
.mu-preloader{width:64px;height:64px;background:url("../images/common/spinner_64x64.png") no-repeat 0 0;}
.mu-preloader-lg{width:100px;height:100px;background:url("../images/common/spinner_100x100.png") no-repeat 0 0;}
.mu-preloader-sm{width:32px;height:32px;background:url("../images/common/spinner_32x32.png") no-repeat 0 0;}


/*splitter*/
.mu-splitter-wrap{height:100%}
.mu-splitter-wrap:after{content:'';display:block;height:0;clear:both;visibility:hidden}
.mu-splitter-wrap > *{height:100%}
.mu-splitter-first{float:left;overflow:auto;-webkit-user-select:text}
.mu-splitter{float:left;width:7px;background-color:#fff;border-left:1px solid #dbdbdb;border-right:1px solid #dbdbdb;cursor:w-resize}
.mu-splitter:before{content:'';display:block;height:100%;margin-left:1px;width:3px;background-color:#fff;border-left:1px solid #dbdbdb;border-right:1px solid #dbdbdb}
.mu-splitter-last{overflow:auto;padding:15px}

.mu-splitter-wrap.vertical > *{width:100%;height:auto}
.mu-splitter-wrap.vertical .mu-splitter-first{float:none}
.mu-splitter-wrap.vertical .mu-splitter{float:none;width:100%;height:7px;border-left:0;border-right:0;border-top:1px solid #dbdbdb;border-bottom:1px solid #dbdbdb;cursor:s-resize}
.mu-splitter-wrap.vertical .mu-splitter:before{width:100%;height:3px;margin-left:0;margin-top:1px;border-left:0;border-right:0;border-top:1px solid #dbdbdb;border-bottom:1px solid #dbdbdb}


/*Notice*/
.mu-noti-wrap{z-index:10;position:fixed;top:0;left:0;width:100%;height:100%;text-align:center}
.mu-noti-wrap:before{content:'';display:inline-block;height:100%;vertical-align:middle;margin-right:-0.25em;}
.mu-noti{position:relative;display:inline-block;padding:11px 120px 11px 11px;background-color:#fff;border:1px solid #c3c3c3;border-radius:3px;box-shadow:0 0 3px 1px #eee}
.mu-noti:after{content:'';display:block;clear:both}
.mu-noti-body{vertical-align:middle;min-height:30px;line-height:30px}
.mu-noti-btn{position:absolute;right:11px;top:0;bottom:0;margin:auto;height:30px}
.mu-noti-exit{margin-left:5px;width:30x;height:30px;background:transparent;border:0}
.mu-noti-exit > i:before{color:#98a9c4}
.mu-noti-exit:hover > i:before{color:#4d88db}
.mu-noti-exit:focus > i:before,.mu-noti-exit:active > i:before{outline:0}


/*chart*/
.mu-motion-chart {padding-bottom:30px;}
.mu-motion-chart text{font-family:arial;color:#000;font-weight:bold}
.mu-motion-chart .axis path,.mu-motion-chart .axis line{fill: none;stroke:#e4e4e4;shape-rendering: crispEdges;}
.mu-motion-chart .axis path.domain{stroke:#aaa;shape-rendering:inherit}
.mu-motion-chart .circles > circle{opacity:0.8;stroke:#000;stroke-width:1px}
.mu-motion-chart .circles > circle:hover{opacity:1;stroke:#000;stroke-width:3px}

.mu-motion-chart .chart-tooltip{position:absolute;visibility:visible;filter:alpha(opacity=0);/*opacity:0;*/pointer-events: none;
  padding:15px;background-color:#f5f5f5;border:1px solid #c3c3c3;border-radius:4px;box-shadow:0 0 3px 1px #eee;line-height:1.4;font-size:12px;font-family:"맑은고딕", Malgun Gothic, Nanum Gothic, sans-serif;}
.mu-motion-chart .chart-tooltip > table > tbody > tr > td{height:22px;vertical-align:middle}
.mu-motion-chart .chart-tooltip > table > tbody > tr > td.data-key{padding-right:20px;text-transform:capitalize;}

.mu-motion-chart .motion-slider{z-index:0;background-color:#dadada;height:4px;border:0;}
.mu-motion-chart .motion-slider	.d3-slider-handle{top:-9px;width:21px;height:21px;background:url(../images/common/icon/ico_slider_handle.png) 0 0 no-repeat;border-color:transparent}
.mu-motion-chart .motion-slider	.d3-slider-handle:active{cursor:move;}



/*************/
/* Box-Model */
/*************/
.show{display:block}
.hidden{display:none}

.of{overflow:hidden;}
.fl{float:left;}
.fr{float:right;}
.clear{clear:both;}
.after:after{content:'';display:block;height:0;clear:both;visibility:hidden}

.tc{text-align:center}
.tr{text-align:right}
.tl{text-align:left;}

.vt{vertical-align:top;}
.vm{vertical-align:middle;}
.vb{vertical-align:bottom;}

.dn{display:none;}
.db{display:block;}

.pr{position:relative;}
.pa{position:absolute;}

/* margin */
.m0{margin:0;}
.m5{margin:5px;}
.m10{margin:10px;}
.m15{margin:15px;}
.m20{margin:20px;}

.mt0{margin-top:0;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}

.mr0{margin-right:0;}
.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr20{margin-right:20px;}

.mb0{margin-bottom:0;}
.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}

.ml0{margin-left:0;}
.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}

/* padding */
.p0{padding:0;}
.p5{padding:5px;}
.p10{padding:10px;}
.p15{padding:15px;}
.p20{padding:20px;}

.pt0{padding-top:0;}
.pt5{padding-top:5px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;}

.pr0{padding-right:0;}
.pr5{padding-right:5px;}
.pr10{padding-right:10px;}
.pr15{padding-right:15px;}
.pr20{padding-right:20px;}

.pb0{padding-bottom:0;}
.pb5{padding-bottom:5px;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb20{padding-bottom:20px;}

.pl0{padding-left:0;}
.pl5{padding-left:5px;}
.pl10{padding-left:10px;}
.pl15{padding-left:15px;}
.pl20{padding-left:20px;}

/* width */
.width50{width:50px}
.width100{width:100px}
.width150{width:150px}
.width200{width:200px}

/*font*/
.font10{font-size:10px}
.font14{font-size:14px}
.font16{font-size:16px}

.mu-grid thead > tr > th.vt, .mu-grid tbody > tr > th.vt, .mu-grid tfoot > tr > th.vt,
.mu-grid thead > tr > td.vt, .mu-grid tbody > tr > td.vt, .mu-grid tfoot > tr > td.vt{vertical-align:top}

.mu-grid thead > tr > th.vm, .mu-grid tbody > tr > th.vm, .mu-grid tfoot > tr > th.vm,
.mu-grid thead > tr > td.vm, .mu-grid tbody > tr > td.vm, .mu-grid tfoot > tr > td.vm{vertical-align:middle}

.mu-grid thead > tr > th.vb, .mu-grid tbody > tr > th.vb, .mu-grid tfoot > tr > th.vb,
.mu-grid thead > tr > td.vb, .mu-grid tbody > tr > td.vb, .mu-grid tfoot > tr > td.vb{vertical-align:bottom}
